# Node.js
node_modules/
dist/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
